@import url(../reset.css);
.product__title, .advantages__title, .stars__left__title, .benefits__right__title {
  font-weight: 500;
  font-size: 60px;
  color: #1d1d1f;
  line-height: 72.61px;
}

.product__subtitle, .advantages__subtitle, .stars__left__subtitle, .benefits__right__subtitle {
  font-weight: 500;
  font-size: 15px;
  color: #1d1d1f;
  line-height: 18.15px;
}

.footer__top2__title, .footer__top3__title, .footer__top4__title {
  font-weight: 500;
  font-size: 24px;
  color: #1d1d1f;
  line-height: 29.05px;
}

.footer__bottom, .footer__top4__subtitle, .footer__top3 ul, .footer__top2 ul, .footer__top1__subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #1d1d1f;
  line-height: 19.36px;
}

body {
  background-color: #c0c9cf;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

article {
  background-color: #FFFFFF;
  width: 1440px;
}

.href-active:hover {
  transition: 0.5s;
  color: #06C167;
  transform: scale(1.2);
  display: block;
}

.button-active:hover {
  transition: 0.5s;
  background-color: #06C167;
  color: #fff;
}

header {
  margin-top: 39px;
  width: 1312px;
  padding-left: 135px;
}

nav {
  width: 1177px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  width: 507px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav__text {
  font-weight: 400;
  font-size: 16px;
  color: #1d1d1f;
}

.logo {
  font-weight: 500;
  font-size: 32px;
  color: #06C167;
}

.header {
  margin-top: 66px;
  margin-right: 49px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header__left {
  margin-top: 39px;
  width: 533px;
}

.header__left__title {
  font-weight: 600;
  font-size: 75px;
  color: #1d1d1f;
  line-height: 90.77px;
}

.header__left__subtitle {
  margin: 22px 0 28px;
  font-weight: 400;
  line-height: 22.78px;
  font-size: 16px;
  line-height: 142%;
  color: rgba(29, 29, 31, 0.75);
}

.header__left__button {
  width: 200px;
  height: 68px;
  font-weight: 400;
  font-size: 16px;
}

main {
  margin-left: 102px;
  margin-top: 88px;
}

.features {
  width: 1170px;
  height: 185px;
  margin-bottom: 173px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid rgba(112, 112, 112, 0.15);
  border-bottom: 1.5px solid rgba(112, 112, 112, 0.15);
}
.features .features__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__text {
  margin-left: 22px;
}

.features__text__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin-bottom: 7px;
}

.features__text__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
}

.benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1162px;
  margin-bottom: 183px;
}

.benefits__right {
  width: 537px;
  margin-top: 89px;
}

.benefits__right__title {
  margin: 19px 0px 68px;
}

.benefits__right__list {
  font-weight: 400;
  font-size: 16px;
  color: #1d1d1f;
  line-height: 19.36px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20.61px;
}
.benefits__right__list img {
  margin-right: 22px;
}

.stars {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 190px;
}

.stars__left {
  width: 570px;
  margin-top: 78px;
}

.stars__left__title {
  margin: 20px 0 55px;
}

.stars__left__achievments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 502px;
}

.achievment .achievment__number {
  font-weight: 600;
  font-size: 40px;
  color: #06C167;
  line-height: 48.41px;
  margin-bottom: 16px;
}
.achievment .achievment__text {
  opacity: 0.65;
  font-weight: 400;
  font-size: 15px;
  color: #1d1d1f;
  line-height: 18.15px;
}

.stars__button {
  margin-top: 51px;
  font-weight: 400;
  font-size: 16px;
  width: 233px;
  height: 79px;
  line-height: 19.36px;
}

.advantages {
  width: 1170px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 199px;
}

.advantages__title {
  margin: 20px 0 70px;
}

.advantages__table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}
.advantages__table img {
  width: 292.5px;
  height: 292.5px;
}

.advantages__table__advantage {
  padding: 37px 0 0 37.5px;
  width: 292.5px;
  height: 292.5px;
  border: 1.5px solid #06C167;
  box-sizing: border-box;
  background-color: #f3fcf7;
}
.advantages__table__advantage .title {
  font-weight: 500;
  font-size: 32px;
  color: #1d1d1f;
  line-height: 38.73px;
}
.advantages__table__advantage .subtitle {
  margin: 25px 0 38px;
  width: 210px;
  line-height: 19.36px;
  font-weight: 400;
  font-size: 16px;
  color: #1d1d1f;
}

.advantages__button {
  width: 148px;
  height: 42px;
  background-color: #e6f9f0;
  font-weight: 500;
  font-size: 15px;
  color: #06C167;
  line-height: 18.15px;
}

.product {
  width: 1170px;
  margin-bottom: 193px;
}

.product__title {
  margin: 20px 0 63px;
}

.product__foods {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__foods__product {
  width: 270px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 25px 40px 30px;
  border: 2px solid rgba(118, 118, 117, 0.2509803922);
}
.product__foods__product .title {
  font-weight: 400;
  color: #1d1d1f;
  font-size: 20px;
  line-height: 24.2px;
  margin: 41px 0 25px;
}
.product__foods__product .price {
  font-weight: 400;
  font-size: 20px;
  color: #06C167;
  line-height: 24.2px;
  margin-bottom: 29px;
}
.product__foods__product button {
  width: 177px;
  height: 57px;
  line-height: 19.36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25.43px 20px 30px;
  transition: 0.5s;
}
.product__foods__product button span {
  font-weight: 400;
  font-size: 16px;
  color: #06C167;
}

.product__foods__product:hover {
  border-color: #06C167;
}

.button-transform:hover {
  transform: scale(1.2);
  transition: 0.5s;
  background-color: #06C167;
}
.button-transform:hover span {
  color: white;
}
.button-transform:hover .button__img-change {
  content: url(../../img/arrow-white.svg);
}

.ingredients {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 1170px;
  flex-direction: column;
  background-image: url(../../img/Ingredients.svg);
  height: 459px;
  margin-bottom: 108px;
}

.ingredients__title {
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  color: #fff;
  line-height: 72.61px;
  width: 799px;
  margin: 110px 0 37px;
}

.ingredients__button {
  width: 210px;
  height: 79px;
  line-height: 19.36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 35.02px 31px 40px;
  transition: 0.5s;
}
.ingredients__button span {
  font-weight: 400;
  font-size: 16px;
  color: #06C167;
}

footer {
  margin-left: 106px;
}

.footer__top {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 1170px;
}

.footer__top1 {
  width: 284px;
}

.footer__top1__subtitle {
  margin: 41px 0 51.6px;
}

.contacts {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__top2 {
  width: 107px;
  margin: 10px 91px 0 150px;
}
.footer__top2 ul li {
  margin-bottom: 16px;
}
.footer__top2 ul li a {
  color: #1d1d1f;
}

.footer__top2__title, .footer__top3__title, .footer__top4__title {
  margin-bottom: 41px;
}

.footer__top3 {
  width: 110px;
  margin: 10px 90px 0 0;
}
.footer__top3 ul li {
  margin-bottom: 16px;
}
.footer__top3 ul li a {
  color: #1d1d1f;
}

.footer__top4 {
  width: 338px;
}

.footer__top4__subtitle {
  margin-bottom: 37px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form input {
  padding-left: 24px;
  height: 50px;
  width: 205px;
  line-height: 16.94px;
  background-color: #f0f1ec;
  outline: none;
}
form input ::-webkit-input-placeholder {
  opacity: 0.51;
  color: #1d1d1f;
}
form button {
  height: 50px;
  width: 118px;
}
form button span {
  font-weight: 500;
  font-size: 14px;
  color: #1d1d1f;
  line-height: 16.94px;
}

.footer__bottom {
  margin: 91.02px 0 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}