@import url(../reset.css);

$accent-color: #06C167;
%title-text {
    font-weight: 500;
    font-size: 60px;
    color: #1d1d1f;
    line-height: 72.61px;
}
%subtitle-text {
    font-weight: 500;
    font-size: 15px;
    color: #1d1d1f;
    line-height: 18.15px;
}
@mixin flex-x($jc: space-between, $ai: center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

body {
    background-color: #c0c9cf;
    font-family: 'Inter', sans-serif;
    @include flex-x($jc: start, $ai: center);
    flex-direction: column;
}

article {
    background-color: #FFFFFF;
    width: 1440px;
}

.href-active:hover{
    transition: 0.5s;
    color: $accent-color;
    transform: scale(1.2);
    display: block;
}

.button-active:hover{
    transition: 0.5s;
    background-color: $accent-color;
    color: #fff;
}

header {
    margin-top: 39px;
    width: 1312px;
    padding-left: 135px;
}

nav {
    ul {
        width: 507px;
        @include flex-x();
    }
    .nav__text {
        font-weight: 400;
        font-size: 16px;
        color: #1d1d1f;
    }
    width: 1177px;
    @include flex-x();
}

.logo {
    font-weight: 500;
    font-size: 32px;
    color: $accent-color;   
}

.header{
    margin-top: 66px;
    margin-right: 49px;
    @include flex-x($ai: start);
}

.header__left {
    margin-top: 39px;
    width: 533px;
}

.header__left__title {
    font-weight: 600;
    font-size: 75px;
    color: #1d1d1f;
    line-height: 90.77px;
}

.header__left__subtitle {
    margin: 22px 0 28px;
    font-weight: 400;
    line-height: 22.78px;
    font-size: 16px;
    line-height: 142%;
    color: rgba(29, 29, 31, 0.75);
}

.header__left__button {
    width: 200px;
    height: 68px;
    font-weight: 400;
    font-size: 16px;
}

main {
    margin-left: 102px;
    margin-top: 88px;
}

.features {
    width: 1170px;
    height: 185px;
    margin-bottom: 173px;
    @include flex-x;
    border-top: 1.50px solid rgba(112, 112, 112, 15%);
    border-bottom: 1.50px solid rgba(112, 112, 112, 15%);
    .features__block {
        @include flex-x();
    }
}

.features__text{
    margin-left: 22px;
}

.features__text__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    margin-bottom: 7px;
}

.features__text__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
}

.benefits {
    @include flex-x();
    width: 1162px;
    margin-bottom: 183px;
}

.benefits__right {
    width: 537px;
    margin-top: 89px;
}

.benefits__right__subtitle {
    @extend %subtitle-text;
}

.benefits__right__title {
    @extend %title-text;
    margin: 19px 0px 68px;
}

.benefits__right__list {
    font-weight: 400;
    font-size: 16px;
    color: #1d1d1f;
    line-height: 19.36px;
    img {
        margin-right: 22px;
    }
    @include flex-x($jc: start);
    margin-bottom: 20.61px;
}

.stars {
    width: 1170px;
    @include flex-x();
    margin-bottom: 190px;
}

.stars__left {
    width: 570px;
    margin-top: 78px;
}

.stars__left__subtitle {
    @extend %subtitle-text;
}

.stars__left__title {
    @extend %title-text;
    margin: 20px 0 55px;
}

.stars__left__achievments {
    @include flex-x();
    width: 502px;
}

.achievment {
    .achievment__number {
        font-weight: 600;
        font-size: 40px;
        color: $accent-color;
        line-height: 48.41px;
        margin-bottom: 16px;
    }
    .achievment__text {
        opacity: 0.65;
        font-weight: 400;
        font-size: 15px;
        color: #1d1d1f;
        line-height: 18.15px;
    }
}

.stars__button {
    margin-top: 51px;
    font-weight: 400;
    font-size: 16px;
    width: 233px;
    height: 79px;
    line-height: 19.36px;
}

.advantages {
    width: 1170px;
    @include flex-x($jc: start, $ai: center);
    flex-direction: column;
    margin-bottom: 199px;
}

.advantages__subtitle {
    @extend %subtitle-text;
}

.advantages__title {
    @extend %title-text;
    margin: 20px 0 70px;
}

.advantages__table {
    @include flex-x();
    flex-wrap: wrap;
    gap: 0;
    img {
        width: 292.5px;
        height: 292.5px;
    }
}

.advantages__table__advantage {
    padding: 37px 0 0 37.5px;
    width: 292.5px;
    height: 292.5px;
    border: 1.50px solid $accent-color;
    box-sizing: border-box;
    background-color: #f3fcf7;
    .title {
        font-weight: 500;
        font-size: 32px;
        color: #1d1d1f;
        line-height: 38.73px;
    }
    .subtitle {
        margin: 25px 0 38px;
        width: 210px;
        line-height: 19.36px;
        font-weight: 400;
        font-size: 16px;
        color: #1d1d1f;
    }
}

.advantages__button {
    width: 148px;
    height: 42px;
    background-color: #e6f9f0;
    font-weight: 500;
    font-size: 15px;
    color: $accent-color;
    line-height: 18.15px;
}